:root
{
  font-family: "Open Sans", sans-serif;
}
#timer_holder
{
    max-width: 800px;
}
#timer_holder_grid
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
}
.timer_div
{
    display:block;
    text-align: center;
}
main
{
    max-width: 800px;
    padding: 10px;
    margin: auto;
    background-color: bisque;

    min-height: 100vh;
}
body
{
    background-color: rgb(9, 9, 66);
}
.center
{
    margin: auto;
    text-align: center;
}
button
{
    font-size: 24px;
}